.btn {
    font-size: 15px;
    padding: 8px 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transform: translateY(-3px);
  }
  
  /* Styles for buttons */
  .primary {
    background-color: blue;
    color: white;
  }
  .secondary {
    background-color: red;
    color: white;
  }
  .tertiary {
    background-color: green;
    color: white;
  }
  
  /* Size for buttons */
  .regular {
    font-size: 15px;
  }
  .medium {
    font-size: 18px;
  }
  .large {
    font-size: 22px;
  }